.row
  .col-sm-3
    .panel.panel-default
      .panel-heading
        %p
          %b
            = @user.username
        %p
          = @user.email
      .panel-body
        %center
          %img{ :src => @user.avatar_thumb }
      .panel-footer
        %center
          .btn-group
            %a.btn.btn-default.active{ 'data-toggle' => 'tab', 'data-tabs-group' => 'main', :href => '#posts' }
              %b= @user.post_count
              %br
              Posts
            %a.btn.btn-default{ 'data-toggle' => 'tab', 'data-tabs-group' => 'main', :href => '#subscribers' }
              %b= @user.subscriber_count
              %br
              Subscr..
            %a.btn.btn-default{ 'data-toggle' => 'tab', 'data-tabs-group' => 'main', :href => '#publishers' }
              %b= @user.publisher_count
              %br
              Publish..
    
    - if user_signed_in?
      .panel.panel-primary
        .panel-heading
          Message to
          = " " + @user.username
        .panel-body
          = render 'forms/new_message'
    - else
      .panel.panel-primary
        .panel-heading
          Sign in
        .panel-body
          = render 'forms/signin'
  
  .col-sm-6
    .panel.panel-default
      .panel-heading
        %ul.nav.nav-pills
          %li.active
            %a{ 'data-toggle' => 'tab', 'data-tabs-group' => 'main', :href => '#posts' }
              Posts
          %li
            %a{ 'data-toggle' => 'tab', 'data-tabs-group' => 'main', :href => '#subscribers' }
              Subscribers
          %li
            %a{ 'data-toggle' => 'tab', 'data-tabs-group' => 'main', :href => '#publishers' }
              Publishers
      .panel-body
        .tab-content
          #posts.tab-pane.active
            Posts
          #gallery.tab-pane
            Gallery
          #subscribers.tab-pane
            Subscribers
          #publishers.tab-pane
            Publishers
          #stats.tab-pane
            Stats
  
  .col-sm-3
    .panel.panel-primary
      .panel-heading
        Map
      .panel-body
        #map{ :style => 'height: 200px' }

:coffeescript
  wa.proxy.user = #{ @user.to_json }
