- var post = model;
- var user = post.get('user');
- var currentUser = currentUser || false;
- var subscribed = currentUser && currentUser.subscribed(user);
.list-group-item.clearfix
  :if (user)
    .row
      .col-xs-2.center
        %a{ href: user.url() }
          %img{ src: user.get('avatars').small, width: '100%', style: 'min-width: 35px' }
        :if (currentUser != user)
          :if (currentUser && !subscribed)
            %hr.small-margin
            %a.btn.btn-default.btn-sm{ wa-action: 'read', wa-type: 'user', wa-id: user.id } Read
          :if (currentUser && subscribed)
            %hr.small-margin
            %a.btn.btn-success.btn-sm{ wa-action: 'unread', wa-type: 'user', wa-id: user.id } Unread
      .col-xs-10
        %a{ href: user.url() }
          %b
            = user.get('username')
        %br
        = post.get('text')
        %hr.small-margin
        .pull-right
          = post.get('created_at')
  :if !(user)
    = post.get('text')
