- var user = model;
- var currentUser = currentUser || false;
- var subscribed = currentUser && currentUser.subscribed(user);
.col-sm-4
  .panel.panel-default
    .panel-heading
      %a{ href: user.url() }
        = user.get('username')
    .panel-body
      %a{ href: user.url() }
        %img{ src: user.get('avatars').big, width: '100%' }
    .panel-footer
      .row.center
        .btn-group
          %span.btn.btn-default{ title: 'Posts' }       = user.get('post_count')
          %span.btn.btn-default{ title: 'Subscribers' } = user.get('subscriber_count')
          %span.btn.btn-default{ title: 'Publishers' }  = user.get('publisher_count')
        
        :if (currentUser != user)
          :if (currentUser && !subscribed)
            %hr.small-margin
            %a.btn.btn-default.btn-sm{ wa-action: 'read', wa-type: 'user', wa-id: user.id } Read
          :if (currentUser && subscribed)
            %hr.small-margin
            %a.btn.btn-success.btn-sm{ wa-action: 'unread', wa-type: 'user', wa-id: user.id } Unread
