.panel.panel-primary
  .panel-heading
    Last messages around
  .panel-body
    #homeMapContainer.row.home-map-container
      .col-sm-3
        Messages
        %ul#homeMapPosts.home-map-list.list-group
      .col-sm-9
        #homeMap.home-map

.panel.panel-success
  .panel-heading
    Events around
  .panel-body
    #homeEventContainer.row

.panel.panel-warning
  .panel-heading
    Most popular peoples
  .panel-body
    #homePopularContainer.row

.panel.panel-danger
  .panel-heading
    Sign up
  .panel-body
    .row
      .col-sm-4
        = render 'forms/signin'
      .col-sm-8
        = render 'forms/signup'
