- id ||= ""
- cl ||= ""
- cl += ' newMessageForm'
= form_for(Post.new, :url => posts_path(:format => :json), :method => :post, :html => { :id => id, :class => cl }) do |f|
  .form-group
    %label Text
    = f.text_area :text, :class => 'form-control'
  - unless @event
    .form-group.eventSelector
      %label Event
      .input-group
        %select.form-control{ :name => 'post[event]' }
        %span.input-group-btn
          %button.btn.btn-default.update{ :type => :button }
            %span.glyphicon.glyphicon-refresh
  - else
    %input{ :type => :hidden, :name => 'post[event]', :value => @event.id }
  
  = f.submit 'Send', :class => 'btn btn-default'
