- id ||= ""
- cl ||= ""
- cl += ' ajaxForm'
= form_for(User.new, :url => auth_sign_in_path(:format => :json), :html => { :id => id, :class => cl }) do |f|
  .form-group
    %label Email
    = f.text_field :login, :class => 'form-control'
  .form-group
    %label Password
    = f.password_field :password, :class => 'form-control'
  .checkbox
    %label
      Remember me
      = f.check_box :remember_me
  = f.submit 'Sign in', :class => 'btn btn-default'
