- id ||= ""
- cl ||= ""
- cl += ' ajaxForm'
= form_for(User.new, :url => auth_sign_up_path(:format => :json), :html => { :id => id, :class => cl }) do |f|
  .form-group
    %label Username
    = f.text_field :username, :class => 'form-control'
  .form-group
    %label Email
    = f.text_field :email, :class => 'form-control'
  .form-group
    %label Password
    = f.password_field :password, :class => 'form-control', :autocomplete => 'off'
  .form-group
    %label Password confirmation
    = f.password_field :password_confirmation, :class => 'form-control', :autocomplete => 'off'
  = f.submit 'Sign up', :class => 'btn btn-default'
