$footer-height: 60px;

.wa-html {
  position: relative;
  min-height: 100%;
}

.wa-body {
  margin-bottom: $footer-height;
  
  & > footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    background: #428bca;
  }
}
