$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

@mixin make-inline($class) {
  @for $i from 1 to 12 {
    .inline-#{$class}-#{$i} {
      display: inline-block;
      width: $i / 12 * 100%;
      vertical-align: top;
    }
  }
}

.col-inline {
  vertical-align: top;
  display: inline-block;
  float: none;
}

@media (min-width: $screen-sm-min) {
  @include make-inline(sm);
}
@media (min-width: $screen-md-min) {
  @include make-inline(md);
}
@media (min-width: $screen-lg-min) {
  @include make-inline(lg);
}
