%header
  %nav.navbar.navbar-default.navbar-fixed-top{ :role => 'navigation' }
    .container
      
      .navbar-header
        %button.navbar-toggle{ :type => 'button', 'data-toggle' => 'collapse', 'data-target' => '#navbar-collapse' }
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{ :href => root_path }
          WhoAround
      
      #navbar-collapse.navbar-collapse.collapse
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            - unless user_signed_in?
              %a.dropdown-toggle{ :href => '#', 'data-toggle' => 'dropdown' }
                Sign in
                %b.caret
              %div.dropdown-menu.dropdown-block
                = render 'forms/signin', :id => 'headerSignInForm'
            
            - else
              %a{ :href => auth_sign_out_path } Sign out

