!!!
%html.wa-html
  %head
    = csrf_meta_tags
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    
    %title WhoAround
    
    = stylesheet_link_tag "application", :media => "all"
    = yield :stylesheets
    
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp"
    = javascript_include_tag "application"
    = yield :javascripts
    
  %body.wa-body
    = render 'layouts/header'
    %main.container
      = yield
    = render 'layouts/footer'
    
    :coffeescript
      wa.proxy.currentUser = #{ current_user && current_user.to_json || false }
      wa.proxy.signedIn    = #{ user_signed_in? }
